In [3]:
import numpy as np
import pandas as pd
from sklearn.tree import DecisionTreeClassifier

In [5]:
df=pd.read_csv('Salary.csv')

In [6]:
df.head(5)

  company                  job     degree  salary_more_then_100k
0  google      sales executive  bachelors                      0
1  google      sales executive    masters                      0
2  google     business manager  bachelors                      1
3  google     business manager    masters                      1
4  google  computer programmer  bachelors                      0

In [7]:
df.isnull().sum()

company                  0
job                      0
degree                   0
salary_more_then_100k    0
dtype: int64

In [10]:
x=df.drop('salary_more_then_100k',axis='columns')
y=df.salary_more_then_100k

In [28]:

from sklearn.preprocessing import LabelEncoder
lb=LabelEncoder()
x.company=lb.fit_transform(x.company)
x.job=lb.fit_transform(x.job)
x.degree=lb.fit_transform(x.degree)

In [29]:
from sklearn.model_selection  import train_test_split

In [30]:
x_train,x_test,y_train,y_test=train_test_split(x,y,random_state=101)

In [35]:
dt=DecisionTreeClassifier()

In [32]:
model=dt.fit(x_train,y_train)

In [33]:
model.predict(x_test)

array([1, 0, 1, 1], dtype=int64)